*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

#country-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 15%;
    text-align: center;
    transition: transform 0.2s;
}

article:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0 0;
}


@media (max-width: 768px) {
    article {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    article {
        width: 100%; 
    }
}